* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    padding: 0;
    margin: auto;
}

.green {
    background: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    color: white;
    font-family: Lato;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
}

header a {
    text-decoration: none;
    color: #939699;
    font-size: 14px;
}

header {
    margin: 25px 0px;
}

header a:hover {
    transform:  rotate(0.5turn);
}

.nav {
    align-items: center;
    text-align: center;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

.btn {
    max-width: 95px;
    max-height: 40px;
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 20px 10px 48px;
}

.btn-img {
    background-image: url(../img/Cart.svg);
    background-repeat: no-repeat;
    background-position: left 20px center;
}

/* ~~~~~~~~~~ header ~~~~~~~~~~ */

/* ~~~~~~~~~~ section ~~~~~~~~~~ */

.fuck {
    width: 100%;
}

.sex {
    background-color: #B4D1E0;
    background-image: url(../img/chel.png);
    background-repeat: no-repeat;
    background-position: left 416px center;
    padding-top: 95px;
    padding-bottom: 120px;
}

.best {
    background-color: #3DC47E;
    color: white;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 12px;
    margin: 95px 1088px 25px 224px;
}

.sweat {
    color: #262D33;
    max-width: 458px;
    max-height: 140px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin: 25px 698px 15px 210px;
}

.txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4B5157;
    max-width: 335px;
    max-height: 90px;
    margin: 15px 819px 50px 212px;
}

.btn-shop {
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    margin: 50px 1000px 120px 210px;
}

.left {
    content: "";
    position: absolute;
    background-image: url(../img/left-kryg.svg);
    background-repeat: no-repeat;
    background-position: left center;
    width: 60px;
    height: 60px;
    margin: 150px 0px 135px 107px;
    opacity: 0.5;
}

.right {
    content: "";
    position: absolute;
    background-image: url(../img/right-kryg.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 150px 0px 135px 1200px;
    opacity: 0.5;
}

/* ~~~~~~~~~~ section ~~~~~~~~~~ */

/* ~~~~~~~~~~ main ~~~~~~~~~~ */

main {
    margin: 50px 0px 0px 0px;
}

.items-1 {
    margin-bottom: 30px;
}

.items-2 {
    margin-bottom: 60px;
}

.block-items-small {
    max-width: 272px;
    max-height: 370px;
    min-height: 369px;
    width: 100%;
    
}

.block-items {
    max-width: 563px;
    max-height: 370px;
    min-height: 369px;
    width: 100%;
    
}

.block-items-big {
    max-width: 860px;
    max-height: 370px;
    min-height: 369px;
    width: 100%;
    margin: auto;
}

/* ~~~~~~~~~~ symka ~~~~~~~~~~ */

.symka {
    background-image: url(../img/item/symka.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 104px;
}

.txt-symka {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 221px;
    height: 90px;
    margin: 60px 0px 0px 45px;
}

.symka p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    width: 175px;
    height: 60px;
    margin: 15px 0px 0px 45px;
}

.symka a {
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 45px 10px 20px;
    background-image: url(../img/item/Arrow.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    margin: 35px 0px 0px 45px;
    position: absolute;
}

/* ~~~~~~~~~~ symka ~~~~~~~~~~ */

/* ~~~~~~~~~~ ked ~~~~~~~~~~ */

.ked {
    background-image: url(../img/item/ked.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 104px;
}

.ked h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: white;
    width: 252px;
    height: 90px;
    margin: 60px 0px 0px 45px;
}

.ked p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
    width: 176px;
    height: 60px;
    margin: 15px 0px 0px 45px;
}

.ked a {
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 45px 10px 20px;
    background-image: url(../img/item/Arrow.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    margin: 35px 0px 0px 45px;
    position: absolute;
}

/* ~~~~~~~~~~ ked ~~~~~~~~~~ */

/* ~~~~~~~~~~ poplin ~~~~~~~~~~ */

.poplin {
    background-image: url(../img/item/poplin.png);
    background-position: right 60px center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: #CCD5E6;
    margin-left: 104px;
}

.best-pop {
    margin: 35px 734px 0px 48px;
}

.poplin h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #262D33;
    width: 400px;
    height: 100px;
    margin: 90px 395px 0px 45px;
}

.poplin p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    width: 319px;
    height: 20px;
    margin: 20px 494px 0px 45px;
}

.btn-poplin {
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 25px 10px 25px;
    margin: 50px 0px 0px 45px;
    position: absolute;
}

.img-pop1 {
    width: 56px;
    height: 56px;
    position: absolute;
    margin: 39px 37px 0px 765px;
    background-color: white;
    border-top: 4px solid white;
    border: 2px solid white;
    border-radius: 5px 5px 0px 0px;
}

.img-pop2 {
    width: 56px;
    height: 56px;
    position: absolute;
    margin: 95px 37px 0px 765px;
    border: 2px solid white;
    background-color: #CCD5E6;
}

.img-pop3 {
    width: 56px;
    height: 56px;
    position: absolute;
    margin: 153px 37px 0px 765px;
    border: 2px solid white;
    border-radius: 0px 0px 5px 5px;
    background-color: #CCD5E6;
}

/* ~~~~~~~~~~ poplin ~~~~~~~~~~ */

/* ~~~~~~~~~~ women ~~~~~~~~~~ */

.women {
    background-color: #FF4F52;
    background-image: url(../img/item/women.png);
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 104px;
}

.women h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: white;
    width: 209px;
    height: 60px;
    margin: 35px 36px 0px 25px;
}

.women p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    width: 209px;
    height: 20px;
    color: #FFC4C9;
    margin: 10px 35px 0px 25px;
}

.txt-women {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: white;
    width: 34px;
    height: 20px;
    margin: 15px 212px 0px 25px;
}

/* ~~~~~~~~~~ women ~~~~~~~~~~ */

/* ~~~~~~~~~~ main ~~~~~~~~~~ */

/* ~~~~~~~~~~ section ~~~~~~~~~~ */

.tool-head {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    max-width: 1158px;
    margin-bottom: 30px;
}

.tool-head h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    width: 300px;
    height: 30px;
}

.view {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    width: 52px;
    height: 20px;
}

.block-tool {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 263px;
    max-height: 370px;
    min-height: 369px;
    width: 100%;
}

.mr {
    margin-bottom: 40px;
}

.new {
    margin: 0px 207px 332px 30px;
}

/* ~~~~~~~~~~ tools ~~~~~~~~~~ */

.hoodie {
    background-image: url(../img/tools/hoodie.png);
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
}

.block-tool h5 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    width: 213px;
    height: 25px;
    align-items: center;
    text-align: center;
}

.txt-hood {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    width: 213px;
    height: 20px;
    align-items: center;
    text-align: center;
}

.dol-hood {
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    color: #262D33;
    width: 32px;
    height: 30px;
    margin: 20px 115px 35px 115px;
}

/* ~~~~~~~~~~ tools ~~~~~~~~~~ */

/* ~~~~~~~~~~ section ~~~~~~~~~~ */

/* ~~~~~~~~~~ footer ~~~~~~~~~~ */

footer {
    background-color: #8F79D4;
}

.foot-nav {
    display: flex;
    justify-content: space-between;
}

.white {
    color: white;
}

/* ~~~~~~~~~~ footer ~~~~~~~~~~ */