* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    width: ;
    padding: 0;
    margin: 25px auto;
}

a {
    text-decoration: none;
    color: #939699;
    font-size: 14px;
}

header a:hover {
    transform:  rotate(0.5turn);
}

.nav {
    align-items: center;
    text-align: center;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

.nav-m {
    
}

.btn {
    max-width: 95px;
    max-height: 40px;
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 20px 10px 48px;
}

.btn-img {
    background-image: url(../img/Cart.svg);
    background-repeat: no-repeat;
    background-position: left 20px center;
}

.sex {
    background-color: #B4D1E0;
    background-image: url(../img/chel.png);
    background-repeat: no-repeat;
    background-position: left 416px center;
    padding-top: 95px;
    padding-bottom: 120px;
}

.best {
    background-color: #3DC47E;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    margin: 95px 1088px 25px 224px;
}

.sweat {
    color: #262D33;
    max-width: 458px;
    max-height: 140px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin: 25px 698px 15px 210px;
}

.txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4B5157;
    max-width: 335px;
    max-height: 90px;
    margin: 15px 819px 50px 212px;
}

.btn-shop {
    background: #4592FF;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    margin: 50px 1000px 120px 210px;
}

.left {
    content: "";
    position: absolute;
    background-image: url(../img/left-kryg.svg);
    background-repeat: no-repeat;
    background-position: left center;
    width: 120px;
    height: 60px;
}